.panel.panel-primary
    .panel-heading
        %h1 URL's más vistas
    .panel-body
        %table.table
            %tr
                %th
                    URL Corta
                %th
                    Visitas
                %th
                    Autor
                %th
                    Estadísticas
            - @short_url.each do |item|
                %tr
                    %td
                        %a{:href => "/visitar/#{item.urlshort}"} #{item.urlshort}
                    %td
                        #{item.n_visits}
                    %td
                        - if item.email != nil
                            %a{:href => "/all/stadistic/#{item.email}"} #{item.email}
                        - else
                            %a{:href => "/all/stadistic/public"} Pública
                        %td
                            %a{:href=>"/info/#{item.urlshort}", :title => "Estadísticas individuales"}
                                %i.fa.fa-bar-chart
