.row
    .col-md-6
        .panel.panel-primary
            .panel-heading
                %h1 Información
            .panel-body
                %ul.list-group
                    %li.list-group-item
                        %p
                            %strong URL Original
                        %p #{@link.url}
                    %li.list-group-item
                        %p
                            %strong URL Corta
                        %a{:href => "/visitar/#{@link.urlshort}", :title => "Visitar"}
                            %span #{@link.urlshort}
                            %i.fa.fa-external-link
                    %li.list-group-item
                        %p
                            %strong Fecha de Creación
                        %p #{@link.created_at}
    .col-md-6
        .panel.panel-primary
            .panel-heading
                %h1 Visitas
            .panel-body
                %ul.list-group
                    %li.list-group-item
                        %p
                            %strong Visitas Totales
                            %span.badge.pull-right #{@link.n_visits}
                    - @country.each do |item|
                        %li.list-group-item
                            %p
                                %strong Visitas desde #{item[0]}
                                %span.badge.pull-right #{item[1]}
.row
    .col-md-12
        .panel.panel-primary
            .panel-heading
                %h1 Gráficas
            .panel-body
                %h2 País de visita
                = column_chart(@country)
                %h2 Visitas por días
                = column_chart(@days)
.row
    .col-md-12
        .panel.panel-primary
            .panel-heading
                %h1 Geolocalización
            .panel-body
                #map-canvas
:javascript
    function initialize() {
        var mapOptions = {
            zoom: 2
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
        #{@str}
    }